.header {
    padding: 40px;
    width: 100%;
    background-color: teal;
    color: black;
    border: #cccccc;
    font-weight: 900;
    
}
div {
    margin: 25px 40px;
    background-color: #8a8282;
    padding: 50px;
    width: 400px;
    align-content: center;
    

}
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}