.header {
    padding: 40px;
    width: 60px;
    background-color: teal;
    color: black;
    border: #cccccc;
    font-weight: 900;
    position: fixed;
    
}

#center { 
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    width: 960px;
    padding:5px 10px 25px 10px;
    border-style: solid;
    border-width: medium;
    align-content: center;    
    background-color: white;
}

img {
    float:left;
    align-content: center;
    margin-right: 10px;
    
}
body {
    background-color: rgb(107, 89, 65);
}


h1{
    
    text-align: center;
    padding-top: 20px;
}

.footer {
    border-top: 8px black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding:20px;
    background-color: teal;

}



#nav {
    background-color: teal;
    font-family: Arial, Helvetica, serif;
    list-style: none;
    text-align: right;
    padding: 30px 0 30px 0;
    top: 0;
    position: fixed;
    width: 100%;
    margin-top: 0;
    left: 0;
}
#links > li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
}
#links > li > a {
    text-decoration: none;
    color: black;
}
#name {
    padding: 32px;
    width: 60px;
    background-color: rgb(114, 110, 110);
    color: black;
    border: #cccccc;
    font-weight: 900;
    position: fixed;
    left: 80px;
    top: 0;
    
}
#form {
    margin-top: 200px;
    margin-left: 200px;
    width: 960px;
    padding:5px 10px 25px 10px;
    border-style: solid;
    border-width: medium;
    align-content: center;    
    background-color: white;
}
.form {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
div.gallery:hover {
    border: 1px solid #777;
  }
  
div.gallery img {
    width: 100%;
    height: auto;
  }
  
div.desc {
    padding: 15px;
    text-align: center;
  }

#gallery {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200;
    padding-right: 10px;
    width: 960px;
    padding:25px 1px 250px 10px;
    border-style: solid;
    border-width: medium;
    align-content: center;    
    background-color: white;
    
}